body{
    margin: 0%;
    font-family: cursive;
}

h1{
    background-color: green;
    color: aliceblue;
    padding: 1%;
    margin-top: 0%;
    
}

h1, h2{
    margin: 0%;
}

p {
  font-size: 20px;
}

.copyright{
    text-align: center;
    background-color: green;
    color: aliceblue;
    padding: 3%;
}

ul{
    padding-left: 20px;
}

li{
    list-style: none;
    list-style-type: disc;
}

.barra-navegacion {
    list-style: none;
    display: flex;
    margin: 1;
  }

.barra-navegacion li {
    display: inline-block;
    color: #fff;
  }

.barra-navegacion li a {
    padding: 1px 20px;
    text-decoration: none;
    color: white;
  }

.barra-navegacion li a:hover {
    background-color: white;
    color: black;
  }

header{
    display: flex;
    background-color: green;
    justify-content: space-between;
  }

.tablaCentrada {
    margin-left: auto;
    margin-right: auto;
  }

table {
    border-collapse: collapse;
    width: 50%;
    border: 2px solid black;
}

td {
    border: 2px solid black;
    padding: 30px;
    text-align: center;
}

.parques, .ubicacion, .historia, .horarios, .servicios {
    border: 2px solid green;
    text-align: center;
    padding: 1rem;
    font-size: 30px;
    color: white;
    background-color: green;
  }

h2 {
    border: 2px solid green;
    padding: 1rem;
    font-size: 30px;
    color: white;
    background-color: green;
  }

.linkParque{
    color: black;   
}

.imagenParque{
  object-fit: cover;
  display: flex;
}

.X {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
